* {
margin: 0;
padding: 0;
outline: 0;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif
}

li{
    list-style: none;
}

.header-menu {
    display: flex;
    position:fixed;
    width: 100%;
    height: 60px;
    padding: 8px;
    padding-bottom: 32px;
    padding-top: 32px;
    background-color:rgba(30, 157, 241, 0.897);
}

.header-menu nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.lista-menu {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
}

.lista-menu li>a {
color:rgb(4, 43, 150);
font-size: 18px;
text-decoration: inherit;
}

.principal {
height: 100vh;
display:flex;
background-color:#b6eafa;
}

.subcontainer-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    margin-right:auto;
    margin-left: auto;
    margin-top: 90px;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}

.nome-completo{
    font-size: 36px;
    color: rgb(65, 43, 146);
    font-weight: 700;
    height: 45px;
}

.profissao{
    color: rgb(63, 143, 248);
    height: 60px;
    
}

.texto-sobre{
    font-size: 20px;
    line-height: 32px;
}

.section-lista{
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.topico-principal{
    font-size: 36px;
    color:rgb(4, 43, 150);
}

.lista-item{
    padding: 32px;
}

.lista-titulo{
    margin-bottom: 5px;
    font-size: 22px; 
    color: rgb(63, 143, 248);
    font-weight: 700;
}

.lista-local{
    font-size: 18px;
    color: rgb(30, 38, 73);
}

.lista-descricao{
    font-size: 18px;
    margin-top: 5px;
    line-height: 20px;
    color: rgb(13, 11, 27);
    font-weight: 300;
}

.formacao{
    background-color: rgb(173, 213, 250);
    display: flex;
    flex-direction: column;
}

.projetos{
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
}

.lista-item ul>li {
    margin-bottom: 32px;
}

.container-footer{
    margin-right: auto; 
    margin-left: auto; 
    max-width: 960px; 
    padding-right: 10px; 
    padding-left: 10px;
    width: 100%;
}

.footer{
    background-color: #5882f7;
    height: 200px;
    display: flex;
    align-items: center;
}

.estilo-icon{
    font-size: 32px;
    margin-right: 10px;
}

.links{
    text-decoration:none;
    color: rgb(1, 8, 75);
    margin-left: 8px;
}

.lista-footer li{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}